* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: pink !important;
    margin: 20px;
    text-align: center;
  }
  .form-signin {
    display: inline-block;
    background-color: grey;
    font-family: formFont;
    margin: 200px;
    padding: 60px;
    border-radius: 50px;
    border: 10px groove white;
    background: linear-gradient(
      180deg,
      green,
      white 35%,
      red
    );
  }
  
  .signin-title {
    margin: 30px;
  }

  .subtn {
    color: black;
  }