* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: pink !important;
    margin: 20px;
    text-align: center;
  }


  .farm2 {
    width: 900px;

  }



  @media screen and (max-width: 575px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }

    .strawgif {
      width: 200px;
    }
    .strawpic-1 {
      width: 200px;
    }

  }
  

  @media screen and (max-width: 575px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
    }

 body {
  display: none;
    }

    .farm2 {
      width: 250px;
    }
  }
  @media screen and (min-width: 375px) {
    .farm1 {
      display: none;
      width: 50px;
      width: 250px;
    }
  }

  @media screen and (max-width: 767px) {
    .strawgif {
      display: none;
      }

      .farm1 {
        display: inline;
      }

      .farm2 {
        display: none;
      }
  }